#banner
	margin-top: 127px
	padding-top: 12%
	padding-bottom: 12%
	font-size: 3rem
	text-align: center
	background: #ebeae7 url(../img/banner.jpg) no-repeat top center
	background-size: auto 100%

	.text
		background: rgba(255,255,255,0.69)
		max-width: 959px
		min-height: 199px
		margin-left: auto
		margin-right: auto

		img
			top: -46px
			margin: 0 auto -36px
			display: block
			width: 244px
			height: 104px

		span
			font-size: 21.82px
			display: block
			margin-top: 17px

@media (max-width: 479px)
	#banner .text
		margin-top: 31px
		font-size: 22px	

@media (max-width: 959px)
	#banner
		margin-top: 40px
		
	#banner .text
		min-height: auto
		padding: 20px

	#banner .text img
		display: none