#blueprint
	padding-top: 60px
	padding-bottom: 60px
	text-align: center

	.nav
		margin-bottom: 30px

		a
			display: inline-block
			font-size: 22px

			&:after
				background: #e9731e
				bottom: -8px
				content: ''
				display: block
				left: 0
				height: 4px
				position: absolute
				width: 0px
				+transition(width 0.5s)

			&:hover,
			&.active
				&:after
					width: 100%

			+ a 
				margin-left: 30px
				
	figure
		position: relative
		padding-top: 40%

		img
			display: none 
			position: absolute
			top: 20px
			left: 50%
			width: auto
			height: calc(100% - 80px)
			+transform(translateX(-50%))

			&.active
				display: block

		figcaption
			position: absolute
			right: 0
			bottom: 0
			font-size: 13px
			font-style: italic

		.ctrl
			position: absolute
			top: 50%
			width: 32px
			height: 112px
			margin-top: -56px
			cursor: pointer

			&.left
				left: 0
				background: transparent url(../img/arrow.png) 0 0

			&.right
				right: 0
				background: transparent url(../img/arrow.png) 32px 0
	
	.logo
		display: inline-block
		margin-top: 20px