#contact
	background: #d6d6d6

	.wrap > p
		font-size: 25.55px
		float: left
		margin: 126px 0 26px
		margin: 40px 0 26px

	.img
		margin: 0 94px 0 80px
		float: left

	.footnote
		float: left
		width: 240px

		.greenpark
			margin: 0 0 0 2px

		.teamprime
			margin: 0

		p
			margin: 28px 0 24px
			line-height: 1.3
			font-size: 1rem

	.col1, .col2
		float: left

		.textbox
			margin-bottom: 12px

	.col1
		margin-bottom: 31px
		margin-right: 31px
		width: 318px

		&.offline
			width: 238px

		&.registration-form
			width: 300px



	.col2
		width: 705px

	form
		display: block
		margin-bottom: 10px
		float: left
		width: 100%


		label
			color: #656565
			left: 8px
			padding: 0 5px 2px
			position: absolute
			top: 8px
			width: 100%
			+transition(0.5s)

			&.fixed
				background: #656565
				color: #fff
				font-size: 0.8rem
				left: 0
				height: auto
				top: -7px
				width: 100%

		.text
			background: none
			border: solid 1px #656565
			color: #656565
			font-size: 1rem
			padding: 5px
			width: 100%


			&:focus + label
				@extend label.fixed

		input.text
			height: 34px

		textarea.text
			height: 128px
			resize: none

	.contact-details
		float: left
		margin: -27px auto 6vh
		min-height: 66px
		font-size: 14px
		line-height: 1

		img
			float: left
		
		.text
			float: left

	
			p, a
				clear: both
				display: block
				margin: 5px 0 0 16px

.submit
	background: #656565
	color: #fff
	cursor: pointer
	float: right
	height: 44px
	min-width: 90px
	padding: 0 19px
	font-weight: 700
	text-transform: uppercase
	+transition(1s)

	&.hide
		opacity: 0

	&.loading
		background: transparent url(../img/loading.gif) 52px center no-repeat
	
	&.success, &.alert, &.error
		background: transparent
		cursor: default
		padding: 0
		text-transform: none
	
	&.success
		color: $green

	&.alert
		color: $orange

	&.error
		color: $red