#differentials
	padding-top: 60px
	padding-bottom: 60px
	text-align: center

	.title
		margin-bottom: 20px
		font-size: 60px

	.icons
		margin-top: 40px

		figure
			display: inline-block
			margin: 10px

			.img
				width: 166px
				height: 166px
				margin-left: auto
				margin-right: auto

			figcaption
				margin-top: 20px
				font-weight: bold

@media (min-width: 970px)
	#differentials .icons figure
		display: block
		float: left
		width: calc(20% - 20px)