#work-progress
	padding-top: 100px
	padding-bottom: 100px
	background-color: #eee
	
	.img
		float: left
		margin: 107px 84px 0 55px
		margin: 0 84px 0 55px
		width: 487px
		height: 366px

	.text
		float: left
		clear: bloth
		margin: 100px 0 0 
		
		p
			font-family: 'open sans'
			margin-bottom: 28px

			&.title
				font-weight: 700


