#greenpark
	padding-top: 70px
	padding-bottom: 70px
	text-align: center
	background-color: #eee

	.title
		font-size: 34px
		margin-bottom: 30px

	.text
		margin-bottom: 15px

		p + p
			margin-top: 10px

	figure
		margin-left: -10px
		margin-right: -10px

		&:before,
		&:after
			content: ""
			display: table

		&:after 
			clear: both

		img
			float: left
			display: block
			width: calc(33.3333333333% - 20px)
			height: auto
			margin: 10px
			+transition(outline 0.2s)
			cursor: pointer

			&:hover
				outline: solid 2px $theme-green

		+ .text 
			margin-top: 15px
			margin-bottom: 0