header
	position: fixed
	z-index: 3
	height: 127px
	background-color: #fff 
	border-bottom: 1px solid #ddd

	&.fixed
		position: fixed
		left: 0
		top: 0

	.leaf
		display: none
		width: 20%
		margin: 10px auto

	.logo
		display: block
		float: left
		top: 50%
		+transform(translateY(-50%))

	button
		display: none
		background: transparent
		
	nav
		float: right
		top: 50%
		+transform(translateY(-50%))
		width: auto

		a
			display: block
			float: left
			font-size: 16px

			&:after
				background: #e9731e
				bottom: -8px
				content: ''
				display: block
				left: 0
				position: absolute
				width: 0px
				+transition(width 0.5s)

			&:hover:after
				width: 47px
				height: 4px
				width: 100%

		span
			display: block
			float: left
			width: 1px
			height: 22px
			margin: 0 15px
			background: #ddd