@media only screen and (min-width: 960px) and (max-width: 1139px)
	.wrap
		width: 960px

	header nav a
		font-size: 16px

	#contact .col2
		width: 611px

	#work-progress .img
		width: 405px
		height: auto


@media only screen and (min-width: 768px) and (max-width: 959px)
	.wrap
		width: 768px

	#contact
		.col2
			width: 419px

		.img
			margin: 0 80px 0 -7vw

	#work-progress
		padding: 50px 0

		.img
			width: 268px
			margin-left: 0
			height: auto

		.text
			padding: 0
			float: left
			margin: 10px 0 0



@media only screen and (min-width: 480px) and (max-width: 767px)
	.wrap
		width: 480px

	#contact
		min-height: 560px
		display: flex

		.background
			width: 100%
			height: 100%

		p
			margin: 26px 0

		.col1, .col2, .col1.offline, .col1.registration-form
			width: 100%

		.contact-details
			margin-bottom: 0

			.col1, .col2
				margin-bottom: 40px

		.img
			bottom: 0
			opacity: 0.2
			position: absolute
			right: -250px
			width: 80%
			z-index: 0
			+transform(rotateY(180deg))

		.footnote
			.greenpark
				width: 130px

			.teamprime
				display: none

	#work-progress
		padding: 50px 0

		.img
			width: 100%
			margin-left: 0
			height: auto

		.text
			margin: 40px 0 0



@media only screen and (max-width: 959px)
	header
		position: fixed
		background: $white
		height: 40px
		left: 0
		top: 0
		width: 100%
		z-index: 2

		&.fixed + section
			margin-top: 0

		&.active nav
			left: 0

		.wrap
			padding: 0
			width: 100%
		
		.logo
			display: none

		.leaf
			display: block

		.border
			height: 2px
			width: 200%
			z-index: 2

		nav
			background: $white
			left: -100%
			float: none
			height: 273px
			height: 100vh
			top: 0
			width: 180px
			border-right: solid 1px $theme-green
			+transition(1s)
			+transform(initial)

			a
				background: $white
				border-bottom: solid 1px $theme-green
				clear: both
				height: auto
				padding: 10px 20px
				width: 100%

				&:after
					display: none

			> span
				display: none

		button
			background: url(../img/leaf.png) center no-repeat $white
			background-size: auto 50%
			display: block
			height: 40px
			position: absolute
			top: 0
			width: 100%
			+transition(1s)

			span
				background: $theme-green
				display: block
				height: 2px
				left: 4px
				position: absolute
				transition: 1s
				width: 30px

				&:nth-child(1)
					top: 10px

				&:nth-child(2)
					top: 19px

				&:nth-child(3)
					bottom: 10px

	

@media only screen and (max-width: 767px)
	#location
		padding: 50px 0 0

		.subtitle
			margin-top: 35px

		.address
			width: 100%
			height: 54px
			
			p
				margin: 0
				width: auto

			img
				display: none

	.modal.banner .thumbs
		display: none



@media only screen and (max-width: 479px)
	#location,
	#contact,
	#work-progress
		padding: 20px 0

	.wrap
		width: 100%
		padding: 0 10px

	#greenpark
		figure img
			float: none
			width: calc(100% - 20px)

	#location
		padding: 0

		#map:after
			position: absolute
			width: 100%
			height: 100%
			content: ''

		.wrap > p
			display: none

		.address
			margin: 15px 0
			height: 28px
			float: left
			
			p
				font-size: 1rem
				font-weight: bold
		
		#map
			height: calc(100vh - 68px)

	#contact
		form 
			textarea.text
				height: 64px
			
			.submit
				width: 100%
				text-align: center

		.wrap > p
			font-size: 1rem
			margin: 18px auto

		.img, .footnote
			display: none

		.col1, .col2, .col1.offline, .col1.registration-form
			width: 100%

		.contact-details
			float: none
			margin: 20px 0 0
			text-align: center

			.col1
				margin: 0 0 20px
				float: none
				display: inline-block
				text-align: left
				width: auto

				img
					float: left
					margin-top: 2vw
					width: calc(6vw * 1.2)

				.text
					width: 202px

					p
						display: none
	
	#work-progress
		.img
			height: auto
			margin: 0
			width: 100%

		.text
			margin-top: 28px
			padding: 0
			width: 100%

			img
				margin: 20px auto
				width: 80%

			p
				display: none

				&.title
					display: block
					margin-bottom: 0

			.br:first-of-type
				display: none



@media only screen and (max-width: 319px)
	#work-progress .text img
		display: none



@media only screen and (max-device-width: 480px)
	#contact
		.contact-details
			.col1
				img
					display: none

				.text
					width: 100%

					p
						display: none

					a
						border-radius: 5px
						display: block
						font-size: 0.9rem
						font-weight: bold
						margin: 0 0 5px
						padding: 5px 5px 5px 32px

						&:before
							display: block
							margin-bottom: 5px
							font-weight: normal
				
				&.online a		
					background: #aaa  url(../img/mobile-mail-icon.png) no-repeat 5px center

					&:nth-of-type(1):before
						content: 'Clique para enviar um email: '
					&:nth-of-type(2):before
						content: 'Clique para acessar o site: '

				&.offline a
					background: #aaa  url(../img/mobile-phone-icon.png) no-repeat 5px center
					padding: 5px 10px 5px 37px

					&:before
						content: 'Clique para ligar: '