#video
	padding-top: 60px
	padding-bottom: 60px
	text-align: center
	background-color: #eee
	
	.video
		padding-top: 56.25%

		iframe 
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%


@media (min-width: 960px)
	#video .wrap 
		width: 960px
