section#blueprint
	.wrap
		.nav
			a(data-number='1').left.active PLANTA APTO 65M²
			a(data-number='2').right PLANTA APTO 74M²

		
		figure
			img(data-number='1', src='assets/img/blueprint-01.png' alt='Planta baixa do Apartamento de 65m² no Condominio Residencial Greenpark em Salto, interior de São Paulo').active
			img(data-number='2', src='assets/img/blueprint-02.png' alt='Planta baixa do Apartamento de 74m² no Condominio Residencial Greenpark em Salto, interior de São Paulo')
			button.ctrl.left
			button.ctrl.right
			figcaption Imagens ilustrativas do Residencial GreenPark
		
		img(src='assets/img/logo-teamprime.png').logo