section#differentials
	.wrap
		p.title Faz bem viver bem.
		p Nenhum outro empreendimento é tão completo como o Residencial GreenPark. 

	.icons
		.wrap
			figure
				.img.icon-1
				figcaption VARANDA GOURMET C/ VISTA PRIVILEGIADA
			figure
				.img.icon-2
				figcaption GARAGEM COBERTA OU PROTEGIDA DO SOL
			figure
				.img.icon-3
				figcaption ÁREA DE LAZER PRIVATIVA C/ PISCINA
			figure
				.img.icon-4
				figcaption INFRAESTRUTURA P/ AR CONDICIONADO
			figure
				.img.icon-5
				figcaption BICICLETÁRIO