section#greenpark
	.wrap
		h2.title 
			b GREENPARK 
			| é cercado por muito verde, ar puro e tranquilidade.
				
		.text
			p GreenPark é um residencial vertical completo, cercado por muito verde, ar puro e tranquilidade. Está localizado perto do centro e ao mesmo tempo longe do barulho e da poluição da cidade. São 88 apartamentos de 65 a 74m2, com  garagem coberta e varanda gourmet. Um excelente lugar para morar ou para investir. 
			p GreenPark é um empreendimento da TeamPrime Empreendimentos. Mais informações ou tabela de preços: FALE CONOSCO.

		figure
			img(data-number='1', src="assets/img/modal-banner-img-01-thumb.png", alt="")
			img(data-number='2', src="assets/img/modal-banner-img-02-thumb.png", alt="")
			img(data-number='3', src="assets/img/modal-banner-img-03-thumb.png", alt="")
			img(data-number='4', src="assets/img/modal-banner-img-04-thumb.png", alt="")
			img(data-number='5', src="assets/img/modal-banner-img-05-thumb.png", alt="")
			img(data-number='6', src="assets/img/modal-banner-img-06-thumb.png", alt="")

		.text
			p Morar perto do centro sem ter os transtornos diários do trânsito, poluição e barulho. GreenPark, um bom lugar para morar ou investir.