*{
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #fbfbfb;
    font-size: 12px;
    font-family: 'arial';
}

form {
	display: block;
    margin: 20px auto;
	padding: 20px 40px;
	width: 960px;
}

.row {
	float: left;
	padding: 25px 0;
	width: 100%;
}

.result {
	margin: auto;
	width: 960px;	
}

.inner-row {
	padding: 5px 15px 5px 5px;
	height: 45px;
	width: 100%;
	float: left;
	border: solid 1px #888;
	margin-top: -1px;
}

.inner-row b{display: block;} 


h2{display: block; clear: both;}

img{display: block; margin: 10px 10px 30px; height: 106px;}

.row:nth-of-type(odd){
	background: #dbdbdb;
}

.inner-row:nth-child(odd){
	background: #ebebeb;
}

.inner-row:nth-child(even){
	background: #fbfbfb;
}

#cadastro, #cadastro_conjuge{
	float: left;
	width: 100%;
}

#cadastro label,
#cadastro_conjuge label,
.inner-row div{
	float: left;
	height: 70px;
	margin: 0 0 20px;
	padding: 0 10px 0 0;
}



label{ 
	display: block;
	float: left;
}

input, select {
	width: 100%;
	min-height: 34px;
    display: block;
    padding: 5px 0 5px 3px;
}


/*input[type="text"]{
    padding: 15px 5px;
}*/

input[type="checkbox"]{
    padding: 15px 5px;
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

input[type="checkbox"] + span{
    margin: 10px 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    float: left;
}

.w1{ width: 100%; margin-bottom: 20px; float: left;}

.w2{ width: 50%; }

.w3{ width: 33.333%; }

.w4{ width: 25%; }

.w5{ width: 20%; }

.w6{ width: 16.666%; }

.w8{ width: 12.5%; }

.w10{ width: 10%; }

.w12{ width: 8.333%; }

.submit{ padding: 10px; height: auto; cursor: pointer;}


@media screen and (max-width: 800px){
	form, .w1, .w2, .w3, .w4, .w5, .w6, .w8, .w10{ width: 100%; margin: 0; }
}
